<%- include('../partials/header') %>
    <h1>Todos as of <%= time %>
    </h1>
    <a href="/todos/new">Add To-Do</a>
    <ul>

        <% todos.forEach(function(t) { %>
            <li>
                <form action="/todos/<%=t.id%>?_method=DELETE" class="delete-form" method="post">
                    <button type="submit">X</button>
                </form>
                <a href="/todos/<%=t.id%>">
                    <%= t.todo %>
                </a>
                -
                <%= t.done ? 'done' : 'not done' %>
            </li>
            <% }); %>
    </ul>

    <a href="/todos/edit">Edit To-do</a>
    <%- include('../partials/footer') %>
